<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pandagroup" sortOrder="20">
            <label>Panda Group</label>
        </tab>
        <section id="subuno" translate="label" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Subuno</label>
            <tab>pandagroup</tab>
            <resource>PandaGroup_Subuno::general_config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Subuno Fraud Prevention</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="run" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>When to run Subuno Fraud Prevention</label>
                    <source_model>PandaGroup\Subuno\Model\Config\Source\Run</source_model>
                </field>
                <field id="reject" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Action after subuno reject</label>
                    <source_model>PandaGroup\Subuno\Model\Config\Source\Rejects</source_model>
                </field>
                <field id="error_message" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message for customer when Subuno validation will failed</label>
                </field>
            </group>
            <group id="connection" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Connection settings</label>
                <field id="base_uri" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Base URL</label>
                    <comment>Type address with version constraint info, example: /v1/</comment>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Api key</label>
                </field>
            </group>
            <group id="cron" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cron settings</label>
                <field id="expression" translate="label" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron expression</label>
                    <comment>Changes made to this group only take effect when asynchronous mode is enabled</comment>
                </field>
                <field id="batch" translate="label" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Batch size</label>
                    <comment>Changes made to this group only take effect when asynchronous mode is enabled</comment>
                </field>
            </group>
        </section>
    </system>
</config>